<div id="boxes">

    <div id="leftbox">
        <img src="assets/image/home.png" alt="Cinque Terre">
    </div>
    <div id="rightbox">
        <h2> Js:</h2>
        <p>a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else. </p>
        <h2> CSS:</h2>
        <p>a language of style rules that we use to apply styling to our HTML content, for example setting background colors and fonts, and laying out our content in multiple columns.</p>
        <h2> HTML</h2>
        <p>is the markup language that we use to structure and give meaning to our web content, for example defining paragraphs, headings, and data tables, or embedding images and videos in the page.</p>
        <h2> Python</h2>
        <p>Python is a high level general-purpose programming language. It uses a multi-paradigm approach, meaning it supports procedural, object-oriented, and some functional programming constructs.</p>
        <h2>Angular</h2>
        <p>Angular is a framework that was developed by Google and is used to develop web and mobile web applications.</p>


    </div>

</div>